<div class="flex surface-section">
  <div class="w-full sm:w-1/2 px-4 py-8 md:px-6 lg:px-8">
    <div class="border-l-2 border-pink-500">
      <span class="bg-white text-pink-500 font-bold text-2xl inline-block px-3">Confirmación</span>
    </div>
    <h1 class="mt-6 mb-5 font-bold text-6xl text-900">Verificadas.cl</h1>
    <p class="text-700 text-3xl mt-0 mb-6">Para ingresar usted debe ser mayor de 18 años</p>
    <div>
      <a href="https://verificadas.cl/escorts">
        <button type="button" pButton pRipple label="Declaro ser mayor de 18 años" icon="pi pi-heart-fill" (click)="confirmEntry()"></button>
      </a>
    </div>
  </div>
  <div class="w-full sm:w-1/2 relative hidden sm:block">
    <div class="image-container"></div>
    <div style="background: url('../../assets/entryRoom.webp') no-repeat; background-size: cover; background-position: center; height: 100%"></div>
  </div>
</div>
